{% extends 'base/base.html.twig' %}

{% block title %}User index{% endblock %}

{% block stylesheets %}
<style>
    body{
        background: url("{{ asset('img/admin-bg2.jpeg') }}");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .block, table{
        /* background: rgba(200, 200, 200, 1); */
        margin-top:50px;
        border-radius:5px;
        padding:10px;
        color:white;
    }
    .block td, th{
        color:white;
    }
</style>
{% endblock %}

{% block body %}
<div class="block m-4 bg-secondary">
    <h1>utilisateurs</h1>

    <table class="table table-striped white">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{ path('admin.user.show', {'id': user.id}) }} ">{{ user.nom }} </a></td>
            <td>
                {% for role in user.roles %} 
                    {{ role }} /
                {% endfor %}
            </td>
            <td>
                <a href="{{ path('admin.user.edit', {'id': user.id}) }} " class="btn btn-secondary"> Editer</a>
                {{ include("admin/user/_delete_form.html.twig") }}
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin.user.new') }}">Create new</a>
    </div>
{% endblock %}
